STRUDEL_HOST=127.0.0.1
STRUDEL_PORT=8787
STRUDEL_ALLOWED_ORIGINS=["http://127.0.0.1:3000","http://localhost:3000","https://strudel.cc"]

STRUDEL_SAMPLES_ROOT=../../samples
STRUDEL_CHUNK_DURATION_SECONDS=2.5
STRUDEL_SAMPLE_RATE=16000
STRUDEL_CHANNELS=1
STRUDEL_MAX_CHUNKS_PER_SESSION=4
STRUDEL_SESSION_POLL_INTERVAL_SECONDS=0.05

STRUDEL_RECORDER_BACKEND=mock
STRUDEL_MICROPHONE_DEVICE=
STRUDEL_TRANSCRIBER_BACKEND=mock
STRUDEL_FASTER_WHISPER_MODEL=base
STRUDEL_FASTER_WHISPER_DEVICE=auto
STRUDEL_FASTER_WHISPER_COMPUTE_TYPE=int8
STRUDEL_FASTER_WHISPER_BEAM_SIZE=1
STRUDEL_VAD_BACKEND=mock
STRUDEL_ENABLE_VAD=true
STRUDEL_MIN_WORD_DURATION_SECONDS=0.04
STRUDEL_PHRASE_GROUP_SIZE=2

STRUDEL_ENABLE_REFINEMENT=false
STRUDEL_REFINEMENT_BACKEND=mock

STRUDEL_STRUDEL_BASE_URL=http://127.0.0.1:8787
